
*{
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
   
}

body{
    min-width: 320px;
    font-family: 'Bebas Neue', cursive;
}

.menu-page {
   
    width: 100%;
    background-color: rgb(119, 119, 119);
    max-width: 1900px;
    min-height: 600px;
    text-align: center;
    
   
   
 
    
    
}

.foto-menu{
    
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
    background: url(../media/img-menu/menuPage2.jpg) center;
    background-size: cover;
   
}

.titulo-menu{
   font-size: 2rem;
   text-align: center;
   
   padding: 2rem;
   background-color: red;
  

}

.titulo-menu h1{
    color: yellow;
}
.contenedor-menu{
    display: flex;
    width: 100vw;
    max-width: 1900px;
    min-height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    
   
}
.conten{
   
   overflow: hidden;
}
.pizzas {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 50ms ease-out;
    

}

.mascara_img {
   position: absolute;
   
    top:0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    
    background-color:rgba(35,31,32,.8);
    opacity:0;
    
    z-index:1;
}

.mascara_img h1{
    margin-top: 150px;
    padding: 10px;
}

.pizzas:hover{
    cursor: pointer;
    transform: scale(1.075);
    
}

.pizzas:hover  .mascara_img{
    opacity: 0.8;
}

.pizzas:hover  .mascara_img h1{
    opacity: 1;
    color: white;
}

@media screen and (max-width:377px) {
    .conten{
        width: 100vw;
    }
    .pizzas img{
        
        width: 100%;
    }
    .titulo-menu{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .mascara_img {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        
        background: none;
        opacity: 1;
        
        z-index:1;
    }
        
        
     .mascara_img h1 {
        
        font-size: 26px;
        text-shadow: 2px 2px 5px  rgb(255, 255, 255);
        margin-top: 0px;
        opacity:1;
        color: black; 
    } 
         
    .pizzas:hover  .mascara_img h1{
        opacity: 1;
        color: rgb(0, 0, 0);
    }
    
}

@media screen and (min-width:378px) and (max-width:600px) {
     .conten{
        width: calc(100vw/2);
    } 
    .pizzas img{
        
        width: 100%;
    }
        
    .titulo-menu{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .mascara_img {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        
        background: none;
        opacity: 1;
        
        z-index:1;
    }
        
        
     .mascara_img h1 {
        
        font-size: 26px;
        text-shadow: 2px 2px 5px  rgb(255, 255, 255);
        margin-top: 0px;
        opacity:1;
        color: black; 
    } 
         
    .pizzas:hover  .mascara_img h1{
        opacity: 1;
        color: rgb(0, 0, 0);
    }
}
          
@media screen and (min-width:600px) {
 
    .conten {
        
        width: 50%;
    }
    .pizzas img{
        
        width: 100%;
    }

    .titulo-menu{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .mascara_img {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        
        background: none;
        opacity: 1;
        
        z-index:1;
    }
        
        
     .mascara_img h1 {
       /* touch-action: auto;*/
        font-size: 26px;
        text-shadow: 2px 2px 5px  rgb(255, 255, 255);
         margin-top: 0px;
         font-weight:bold;
         opacity:1;
         color: black; 
    } 
    .pizzas:hover  .mascara_img h1{
        opacity: 1;
        color: rgb(0, 0, 0);
    }
        
             
    
    
    
}

@media screen and (min-width:768px) and (max-width:992px) {
    .conten {
        
        width: calc(100%/3);
    }
    .pizzas img{
        
        width: 100%;
    }
}











